*{
  margin:0;
  padding:0;
}

body{
  background: #d6d6d6;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

header{
  padding-top: 50px;
  width: 100%;
  display: inline-block;
  background-color: #2529d8;
  color:white;
  overflow: hidden;
}

li{
  list-style-type: none;
}

h2{
  text-align: center;
  font-size: 3rem;
}

.characters{
  list-style-type: none;
  padding:100px;
}

.characterView{
  background-color: #d1d1d1;
  font-size: 20px;
  line-height: 2rem;
  padding: 20px;
  margin:20px 0px;
}

.highlight {
  background: #2529d8;
  color:white;
}

.cname{
  color: black;
  text-decoration: underline;
  font-size: 25px;
  font-weight: bold;
}

.hidden{
  display:none;
  pointer-events: none;
}

.search{
  margin-top:50px;
  padding: 20px;
  font-size: 20px;
  border: none;
  background: rgba(0, 0, 0, 0.1);
  outline: none;
  text-indent: 20px;
  color: #fff;
  width: 100%;
  display: block;
  font-weight: bold;
  font-style: italic;
}

button{
  outline: none;
  border: none;
  padding: 20px 30px;
  font-size: 20px;
  border-radius: 2px;
  background: none;
  border: 2px solid #2529d8;
  margin: 0px auto;
  margin-bottom: 80px;
  display: block;
}

button:hover{
  background: #2529d8;
  color: white;
  cursor: pointer;
}
